<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="niryo_ned2">
    <!-- Enable Gazebo control-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Import Robot -->
    <xacro:include filename="$(find niryo_robot_description)/urdf/ned2/niryo_ned2.urdf.xacro"/>

    <!-- Import Transmission -->
    <xacro:include filename="$(find niryo_robot_description)/urdf/ned2/niryo_ned2.transmission.xacro"/>

</robot>
