include LICENSE
include *.md
include pyproject.toml
include conftest.py

include package.json
include install.json
include ts*.json
include *.config.js
include yarn.lock
include *.js

graft jupyterlab_urdf/labextension

# Javascript files
graft src
graft style
graft ui-tests
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

# Documentation
recursive-include docs *.bat
recursive-include docs *.gif
recursive-include docs *.md
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile

# Examples
recursive-include examples *.STL
recursive-include examples *.dae
recursive-include examples *.obj
recursive-include examples *.stl
recursive-include examples *.txt
recursive-include examples *.urdf
recursive-include examples *.xacro
recursive-include examples *.xml
