<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="niryo_one">

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionPosition" params="joint n">
    <transmission name="transmission_${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionEffort" params="joint n">
    <transmission name="transmission_${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission 1 -->
  <xacro:SimpleTransmissionPosition n="1" joint="joint_1" />

  <!-- Transmission 2 -->
  <xacro:SimpleTransmissionPosition n="2" joint="joint_2" />

  <!-- Transmission 3 -->
  <xacro:SimpleTransmissionPosition n="3" joint="joint_3" />

  <!-- Transmission 4 -->
  <xacro:SimpleTransmissionPosition n="4" joint="joint_4" />

  <!-- Transmission 5 -->
  <xacro:SimpleTransmissionPosition n="5" joint="joint_5" />

  <!-- Transmission 6 -->
  <xacro:SimpleTransmissionPosition n="6" joint="joint_6" />

</robot>
