<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="panda_gazebo" params="robot_name load_gripper">
      <gazebo reference="${robot_name}_joint7">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo reference="${robot_name}_joint1">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo reference="${robot_name}_joint2">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo reference="${robot_name}_joint3">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo reference="${robot_name}_joint4">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo reference="${robot_name}_joint5">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo reference="${robot_name}_joint6">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <xacro:if value="${load_gripper}">
          <gazebo reference="${robot_name}_finger_joint1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
          </gazebo>
          <gazebo reference="${robot_name}_finger_joint2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
          </gazebo>
      </xacro:if>

    <!-- Adding FT sensor at wrist. This is not present in real robot and is used only for computing end-point effort directly, unlike in the real robot where it is estimated from the joint efforts. -->
    <gazebo reference="${robot_name}_joint7">
      <disableFixedJointLumping>true</disableFixedJointLumping>
      <sensor name="${robot_name}_joint7_force_torque" type="force_torque">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <force_torque>
          <frame>sensor</frame>
          <measure_direction>child_to_parent</measure_direction>
        </force_torque>
      </sensor>
    </gazebo>
    <gazebo>
      <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>30.0</updateRate>
        <topicName>/gazebo/robot/wrist/ft</topicName>
        <jointName>panda_joint7</jointName>
      </plugin>
    </gazebo>

    <!-- Configure self collision properties per link -->
    <!-- The gripper fingers do not have this flag otherwise the gripper would not be allowed to close correctly -->
    <gazebo reference="${robot_name}_link1">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${robot_name}_link2">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${robot_name}_link3">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${robot_name}_link4">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${robot_name}_link5">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${robot_name}_link6">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${robot_name}_link7">
      <selfCollide>true</selfCollide>
    </gazebo>
  
    <!-- Collision sensors on all links. This is not present on the real robot, it is used only in simulation to detect collisions. -->
    <!-- Link 0 is omitted because it is always in contact with the ground  -->
    <gazebo reference="${robot_name}_link1">
      <sensor name='${robot_name}_link1_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link1_collision</collision>
          </contact>
          <plugin name="link1_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link1_collision</bumperTopicName>
            <frameName>${robot_name}_link1</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_link2">
      <sensor name='${robot_name}_link2_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link2_collision</collision>
          </contact>
          <plugin name="link2_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link2_collision</bumperTopicName>
            <frameName>${robot_name}_link2</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_link3">
      <sensor name='${robot_name}_link3_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link3_collision</collision>
          </contact>
          <plugin name="link3_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link3_collision</bumperTopicName>
            <frameName>${robot_name}_link3</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_link4">
      <sensor name='${robot_name}_link4_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link4_collision</collision>
          </contact>
          <plugin name="link4_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link4_collision</bumperTopicName>
            <frameName>${robot_name}_link4</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_link5">
      <sensor name='${robot_name}_link5_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link5_collision</collision>
          </contact>
          <plugin name="link5_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link5_collision</bumperTopicName>
            <frameName>${robot_name}_link5</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_link6">
      <sensor name='${robot_name}_link6_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link6_collision</collision>
          </contact>
          <plugin name="link6_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link6_collision</bumperTopicName>
            <frameName>${robot_name}_link6</frameName>
          </plugin>
      </sensor>
    </gazebo> 

    <gazebo reference="${robot_name}_link7">
      <sensor name='${robot_name}_link7_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_link7_collision</collision>
          </contact>
          <plugin name="link7_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_link7_collision</bumperTopicName>
            <frameName>${robot_name}_link7</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_leftfinger">
      <sensor name='${robot_name}_leftfinger_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_leftfinger_collision</collision>
          </contact>
          <plugin name="leftfinger_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_leftfinger_collision</bumperTopicName>
            <frameName>${robot_name}_leftfinger</frameName>
          </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_rightfinger">
      <sensor name='${robot_name}_rightfinger_contact' type='contact'>
        <update_rate> 50 </update_rate>
        <always_on>true</always_on>
          <contact>
              <collision>${robot_name}_rightfinger_collision</collision>
          </contact>
          <plugin name="rightfinger_bumper" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>${robot_name}_rightfinger_collision</bumperTopicName>
            <frameName>${robot_name}_rightfinger</frameName>
          </plugin>
      </sensor>
    </gazebo>

    </xacro:macro>

</robot>

