<launch>
  <arg name="version" default="V40" />
  <include file="$(find nao_description)/launch/robot_state_publisher.launch">
    <arg name="version" value="$(arg version)" />
  </include>

  <arg name="gui" default="true" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <arg name="config_file" value="$(find nao_description)/config/urdf.rviz"/>
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg config_file)" />
</launch>
